<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Admin panel</title>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-4.0.0-dist/css/bootstrap.min.css') }}">

    {#        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>#}

    <script src="{{ asset('assets/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-4.0.0-dist/js/bootstrap.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ path('admin_index') }}">Admin Panel</a>

    <!-- Links -->
    <ul class="navbar-nav">
        {% if app.session.get('admin') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_company') }}">Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_bike') }}">Bikes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_logout') }}">Logout</a>
        </li>
        {% endif %}
    </ul>
</nav>
<br>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
